<div id="sidebar"> <a href="/static/myadmin/tables.html#" class="visible-phone"><i class="icon icon-th"></i>Tables</a>
  <ul style="display: block;">

{% for label in label_apps %}
		{% ifequal label.app_count 0 %}
			<li><a href="{% url 'label_list' label.label_name %}"><i class="icon icon-fullscreen"></i><span>{{label.label_name}}</span></a></li>	
		{% else %}
		<li class="submenu"> <a href=""><i class="icon icon-file"></i> <span>{{label.label_name}}</span> <span class="label label-important">{{label.app_count}}</span></a>
			<ul>
			{% for app in label.app_list %}
				<li><a href="{% url 'label_name_list' label.label_name app.model %}">{{app.name}}</a></li>
			{% endfor %}
     			</ul>
		</li>
		{% endifequal %}
	{% endfor %} 

  </ul>
</div>
